wp-content/themes/kinokoszyk/node_modules
node_modules
wp-content/themes/kinokoszyk/css/output.css

wp-content/themes/twentytwentytwo
wp-content/themes/twentytwentythree
wp-content/themes/twentytwentyone/*
.idea/php.xml
