wp-content/themes/kinokoszyk/node_modules
node_modules
wp-content/uploads
/wp-content/uploads/
*uploads
wp-content/themes/kinokoszyk/css/output.css

wp-content/themes/twentytwentytwo
wp-content/themes/twentytwentythree
wp-content/themes/twentytwentyone/*