@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fasthand&display=swap");

@layer components {
  /*Write components like this with an explanatory comment above if the name isn't explanatory already*/
  .btn-blue {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700 hover:shadow-2xl transform hover:-translate-y-1 hover:scale-110 transition duration-500 ease-in-out;
  }

  .header-link {
    @apply
      relative 
      text-2xl

      hover:after:absolute
      
      focus:after:absolute
      focus:text-light-wine
      focus:outline-none

      active:text-light-wine

      after:inline
      after:-bottom-1
      after:left-0
      after:content-['']
      after:bg-light-wine
      after:w-full
      after:h-0.5
  }
}

@layer base {
  .vh-section {
    height: 1110px;
  }

  .vh-hero {
    height: calc(100vh - 89px);
  }
}
